.background-container {
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;  
  
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-container {
  display: flex;
  align-items: center;
}

.company-logo {
  width: 100px;
  height: 63px;
  margin-right: 25px;
}

.menu-container {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;  
}

.menu-container .p-menubar {
  width: 100%;  
}

.footer {
  text-align: center;
  background-color: #f0f0f0;
  /* padding: 10px 0; */
  color: #666;
}

:host ::ng-deep .p-menubar {
  color: #4b5563;
  border: 1px solid transparent;
}
