<div class="header">
  <div class="logo-container">
    <img src="../assets/logo.png" alt="Company Logo" class="company-logo">
    <span class="logo-text">Horizon Business Solutions</span>
  </div>
  <div class="menu-container">
    <p-menubar [model]="items" class="custom-menubar"></p-menubar>
    <!-- Add the search bar and icon here -->
    <div class="search-container" style="padding-right: 10px;">
      <input type="text" placeholder="" class="search-input">
      <i class="fas fa-search search-icon"></i>
    </div>
    
  </div>
</div>


<div class="background-container">
  <router-outlet></router-outlet>
  <!-- Footer Section -->
  <footer class="footer">
    <p>COPYRIGHT©2024 A product of Horizon Business Solutions – Powered by MIS Team</p>
  </footer>
</div>
