.body{
  font-family: 'Roboto', sans-serif;
  overflow: hidden;  
  overflow-y: hidden;
  overflow-x: hidden;
}

.background-container {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  /* min-height: 100vh;   */
  
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0C4A6E;
}

.logo-container {
  display: flex;
  align-items: center;
}

.company-logo {
  width: 100px;
  /* height: 63px; */
  margin-right: 25px;
  margin-left: 20px;
}

.menu-container {
  flex-grow: 1;
  display: flex;
  align-items: center;
  /* justify-content: flex-end;   */
}

.menu-container .p-menubar {
  width: 100%;  
}

.footer {
  text-align: center;
  /* background-color: #fdfdfd; */
  /* padding: 10px 0; */
  color: #666;
}

:host ::ng-deep .p-menubar {
  color: #0C4A6E;
  border: 1px solid transparent;
}
.logo-text {
  font-size: 20px;  
  font-weight: bold;
  color: #00bce1 ;    
}
:host ::ng-deep .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-content .p-menuitem-link .p-menuitem-text {
  color: #E2E8F0;
  font-size: 11px;
}
:host ::ng-deep .pi{
  color: #0f6df0;
}
:host ::ng-deep .p-menubar {
  background-color:#0C4A6E;
}
.footer {
  text-align: center;           
  color: #8d95a5;
  font-size: 0.7rem;       
  border-top: 1px solid #e5e7eb;  /* border-t border-gray-200 */
  background-color: #f9fafb; 
  z-index: 0;                  /* z-0 */
  left: 0;                     /* inset-x-0 (left and right set to 0) */
  right: 0;                    /* inset-x-0 (left and right set to 0) */
  bottom: 0;                   /* bottom-0 */
  position:unset;
 
}
:host
  ::ng-deep
  .p-menubar
  .p-menubar-root-list
  > .p-menuitem
  > .p-menuitem-content:hover
  .p-menuitem-text,
:host
  ::ng-deep
  .p-menubar
  .p-menubar-root-list
  > .p-menuitem
  > .p-menuitem-content:hover
  .p-menuitem-icon {
  color: #e13c00;
}
:host
  ::ng-deep
  .p-menubar
  .p-menubar-root-list
  > .p-menuitem
  > .p-menuitem-content:hover {
  background-color: transparent;
}
.menu-container {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;  
}

.search-container {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 20px;  
}

.search-input {
  border: 1px solid #0C4A6E;
  border-radius: 20px;
  padding: 3px 1px;
  padding-left: 30px; 
  background-color: #ffffff;
  color: #000000;
  outline: none;
  width: 95px;  
  font-size: 10px;
}

.search-icon {
  color: #0C4A6E;
  position: absolute;
  left: 10px;  
  
}
