<div class="outer">
  <div class="container">
    <div class="content">
      <!-- Business Intelligence Section -->
      <div class="section">
        <h2 class="category-topic">Business Intelligence</h2>
        <p class="category-description">Creating visibility and insights over the Horizon</p>
        <div class="main-card">
          <div class="app-grid">
            <div class="app-card" *ngFor="let app of filteredBusinessIntelligenceApps">
              <div class="app-icon-container" (mouseenter)="showTooltip($event, app)" (mouseleave)="hideTooltip()" (click)="goToLink(app.url)">
                <img *ngIf="app.image" [src]="app.image" alt="{{ app.title }} icon" class="app-icon-image">
                <i *ngIf="!app.image" class="fa {{ app.icon }}"></i>
                <div class="app-info">
                  <h3>{{ app.title }}</h3>
                </div>
                <div class="tooltip-text">
                  <div class="tooltip-header">{{ app.title }}</div>
                  <div class="tooltip-body">
                    <p>{{ app.description || 'N/A' }}</p>
                    <p><b>Owner:</b> {{ app.team || 'N/A' }}</p>
                    <p><b>Department:</b> {{ app.department || 'N/A' }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Digital Tools Section -->
      <div class="section">
        <h2 class="category-topic">Digital Tools</h2>
        <p class="category-description">Bringing new technology, automation & standardization to Horizon</p>
        <div class="main-card">
          <div class="app-grid">
            <div class="app-card" *ngFor="let app of filteredDigitalToolsApps">
              <div class="app-icon-container" (mouseenter)="showTooltip($event, app)" (mouseleave)="hideTooltip()">
                <img *ngIf="app.image" [src]="app.image" alt="{{ app.title }} icon" class="app-icon-image">
                <i *ngIf="!app.image" class="fa {{ app.icon }}"></i>
                <div class="app-info">
                  <h3>{{ app.title }}</h3>
                </div>
                <div class="tooltip-text">
                  <div class="tooltip-header">{{ app.title }}</div>
                  <div class="tooltip-body">
                    <p>{{ app.description || 'N/A' }}</p>
                    <p><b>Owner:</b> {{ app.team || 'N/A' }}</p>
                    <p><b>Department:</b> {{ app.department || 'N/A' }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
