<div class="background-container">
  <div class="content-container">

    <!-- Header Section -->
    <header class="header">
      <!-- Header content here if needed -->
    </header>

    <!-- Heading Above Buttons -->
    <h2 class="explore-heading">Explore What We Have Done!</h2>

    <!-- Buttons Section -->
    <div class="buttons-container">
      <div class="category-button" style="background-image: url('../assets/background1.png');">
        <p-button label="MIS" class="gray-button" severity="secondary" routerLink="/category"></p-button>
      </div>
      <div class="category-button" style="background-image: url('../assets/background4.png');">
        <p-button label="BI" class="gray-button"   severity="secondary" routerLink="/category"></p-button>
      </div>
      <div class="category-button" style="background-image: url('../assets/background3.png');">
        <p-button label="Finance" class="gray-button"   severity="secondary"routerLink="/category"></p-button>
      </div>
      <div class="category-button" style="background-image: url('../assets/background2.png');">
        <p-button label="HR" class="gray-button"  severity="secondary" routerLink="/category"></p-button>
      </div>
    </div>

    
  </div>
</div>
